<!DOCTYPE html>
<html lang="es">

 <!-- HEAD -->
 <%- include('../partials/head') %> 

<body class="body-product-load">
    
   <!-- HEADER -->
<%- include('../partials/header') %> 

    <main class="product-load-container">
        <form class="form-load" action="/admin/products/edit/<%= product.id%>?_method=PUT" method="POST" enctype="multipart/form-data">
            <select type="text" placeholder="Tipo" name="category" class="select-type-product">
                <option value=""hidden>Categorias</option>
                <% categories.forEach(category => { %>
                    <option value="<%- category.id %>" <%- locals.old && old.category == category.id ? "selected" : category.id == product.category ? `selected` : ""  %>><%- category.name %></option>
                 <% }) %>                       
                </select>
            </select>
            <% if (locals.errors && errors.categories) { %>
                <small class="text-danger"><%= errors.category.msg %> </small>
            <% } %>
            <select type="text" placeholder="Tipo" name="subcategory" class="select-type-product">
                <option value="" hidden>Subategorias</option>
                <% subcategories.forEach(subcategory => { %>
                    <option value="<%- subcategory%>" <%- locals.old && old.subcategory == subcategory ? "selected" : subcategory == product.subcategory ? `selected` : ""  %>><%- subcategory %></option>
                 <% }) %>
                </select>
            </select>
            <% if (locals.errors && errors.subcategory) { %>
                <small class="text-danger"><%= errors.subcategory.msg %> </small>
            <% } %>
            <div class="preview-image-container">
                <label class="btn-load-image-admin" for="imgInp">Seleccione una imagen</label>
                <input type='file' id="imgInp" name="image" hidden="hidden">
                <img class="preview-image" id="blah" src="/images<%= product.image %>" alt="Tu imagen" >
            </div>
            <label for="name-product-load" class="name-product-load-label">Nombre del producto</label>
            <input type="text" class="name-product-load" id="name-product-load" name="name" value="<%= locals.old ? old.name : product.name%>">
            <% if (locals.errors && errors.name) { %>
                <small class="text-danger"><%= errors.name.msg %> </small>
            <% } %>
            <label for="price-load-product">Precio</label>
            <section class="price-section-load">
                <h2 class="sing-price-load">$</h2>
                <input type="number" class="price-input-load" id="price-load-product" name="price" value="<%= locals.old ? old.price : product.price%>">
            </section>
            <% if (locals.errors && errors.price) { %>
                <small class="text-danger"><%= errors.price.msg %> </small>
            <% } %>
            <label for="id-load-product">Descuento</label>
            <section class="id-section-load">
                <input type="number" id="id-load-product" class="id-load-product" name="discount" value="<%= locals.old ? old.discount : product.discount%>">
                <h2 class="sing-id-load">%</h2>
            </section>
            <textarea cols="10" rows="10" class="description-product-load" name="description" placeholder="Descripción del producto"><%= locals.old ? old.description : product.description%></textarea>
            <% if (locals.errors && errors.description) { %>
                <small class="text-danger"><%= errors.description.msg %> </small>
            <% } %>
            <div style="display: flex;">
                <label for="btn-remove" class="btn-load-product">Eliminar</label>
                <input type="submit" value="Editar" class="btn-load-product">
            </div>
        </form> 
        <form action="/admin/products/delete/<%- product.id %>?_method=DELETE" method="POST">
            <div style="display: flex;">
                <button id="btn-remove" hidden>Eliminar Producto</button>
            </div>
        </form>
    </main>
    
    <!-- FOOTER -->  
    <%- include('../partials/footer') %> 

    <a href="javascript:history.back()" class="btn-flotante">
        <i class="fas fa-undo"></i>
    </a>
    <script src="../../../js/admin.js"></script>
</body>
</html>