<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/images/isotipo.png" type="image/x-icon" rel="shortcut icon" />
    <title> <%= title %> </title>
    <link rel="stylesheet" href="/styleSheet/adminDashboard.css">
</head>
<body>
    <%- include('../partials/adminHeader') %> 
        </section>
        <section class="grid">
          <article style="padding: 33px; font-size: 24px;">
            <h1>
              Total de Usuarios resgitrados:
              <%= users %> 
            </h1>
          </article>
          <article style="padding: 33px; font-size: 24px;">
            <h1>
              Total de Productos:
              <%= products %> 
            </h1>
          </article>
          <article style="padding: 33px; font-size: 24px;">
            <h1>
              Total de Categorias:
              <%= categories %> 
            </h1>
          </article>
          <article style="padding: 33px; font-size: 24px;">
            <h1>
              Total de Subcategorias:
              <%= subcategories %> 
            </h1>
          </article>
          <article></article>
          <article></article>
          <article></article>
          <article></article>
        </section>
        
      <script src="/js/adminDashboard.js"></script>
</body>
</html>