<!DOCTYPE html>
<html lang="es">

 <!-- HEAD -->
 <%- include('../partials/head') %> 

<body class="body-profile">
       <!-- HEADER -->
<%- include('../partials/header') %> 

    <div class="editProfile-container">
        <form action="/users/profile/editProfile/<%= user.id%>?_method=PUT" method="POST" enctype="multipart/form-data" class="editProfile-form">
            <div class="profile-image-container">
                <input type='file' id="imgInp" name="image" hidden="hidden"/>
                <img class="profile-image" id="blah" src="/public/images/userImageProfile/autoImage.png" />
                <label class="btn-load-image-profile" for="imgInp">Seleccione una imagen</label>
            </div>
            <div class="inputs-edit-profile">
                <label for="name-edit">Nombre</label>
                <input type="tex" id="name-edit" name="name-edit" value="<%- user.name %> " class="name-edit">
                <label for="surname-edit">Apellido</label>
                <input type="text" id="surname-edit" name="surname-edit" class="surname-edit">
                <label for="email-edit">Correo elctronico</label>
                <input type="email" id="email-edit" name="email-edit" class="email-edit">
                <label for="tel-edit">Telefono</label>
                <input type="tel" id="tel-edit" name="tel-edit" class="tel-edit">
                <label for="name-pet-edit">Nombre de tu mascota</label>
                <input type="text" id="name-pet-edit" name="name-pet-edit" class="name-pet-edit">
                <select type="text"  class="select-species-pet">
                    <option value="" selected hidden>Especie de tu mascota</option>
                    <option value="perro">Perro</option>
                    <option value="gato">Gato</option>
                    <option value="reptil">Reptil</option>
                    <option value="ave">Ave</option>
                </select>
                <label for="biography-edit">Biografia</label>
                <textarea type="text" cols="10" rows="10"  id="biography-edit" name="biography-edit" class="biography-edit"><%- user.biography %> </textarea>
                <label for="password-edit">Cambiar contraseña</label>
                <input type="password" id="password-edit" name="password-edit" class="password-edit">
                <label for="confirm-password-edit">Confirmar contraseña</label>
                <input type="password" id="confirm-password-edit" name="confirm-password-edit" class="confirm-password-edit">
                <input type="submit" value="Guardar" class="save-profile">
            </div>
        </form>
    </div>
    <!-- FOOTER -->  
    <%- include('../partials/footer') %>
    
    <!-- JavaScript -->
    <script src="/js/users.js"></script>
</body>
</html>