<!DOCTYPE html>
<html lang="es">

 <!-- HEAD -->
 <%- include('../partials/head') %> 

<body class="body-profile">
       <!-- HEADER -->
<%- include('../partials/header') %> 

    <div class="editProfile-container">
        <form action="/users/profile/editProfile/<%= user.id%>?_method=PUT" method="POST" enctype="multipart/form-data" class="editProfile-form">
            <div class="profile-image-container">
                <input type='file' id="imgInp" name="image" hidden="hidden"/>
                <img class="profile-image" id="blah" src="/images/userImageProfile/<%= user.image %>" />
                <label class="btn-load-image-profile" for="imgInp">Cambiar foto de Perfil</label>
            </div>
            <div class="inputs-edit-profile">
                <label for="name-edit">Nombre</label>
                <input type="text" name="name-edit" placeholder="Nombre" value="<%= locals.old ? old.name : user.name %>">
                <% if (locals.errors && errors.name) { %>
                    <small class="text-danger"><%= errors.name.msg %> </small>
                <% } %>
                <label for="surname-edit">Apellido</label>
                <input type="text" name="lastName" placeholder="Apellido" value="<%= locals.old ? old.lastName : user.lastName %>">
                <% if (locals.errors && errors.lastName) { %>
                    <small class="text-danger"><%= errors.lastName.msg %> </small>
                <% } %>
                <label for="email-edit">Correo elctronico</label>
                <input type="email" id="email-edit" name="email" readonly value="<%- user.email %> " class="email-edit">
                <label for="tel-edit">Telefono</label>
                <input type="tel" id="tel-edit" name="telephone" value="<%= user.telephone %>" class="tel-edit">
                <label for="name-pet-edit">Nombre de tu mascota</label>
                <input type="text" id="name-pet-edit" name="namePet" value="<%- user.namePet %>" class="name-pet-edit">
                <select type="text"  class="select-species-pet">
                    <option value="" selected hidden>Especie de tu mascota</option>
                    <option value="perro">Perro</option>
                    <option value="gato">Gato</option>
                    <option value="reptil">Reptil</option>
                    <option value="ave">Ave</option>
                </select>
                <label for="surname-edit">Direccion</label>
                <input type="text" name="address" placeholder="Direccion" value="<%= address !== null && address.street ? address.street : "" %>">
                <label for="surname-edit">Codigo postal</label>
                <input type="text" id="pc-edit" name="postalCode" value="<%= address !== null && address.postalCode ? address.postalCode : "" %>">
                <label for="surname-edit">Provincia</label>
                <select type="text" name="province" class="select-species-pet">
                    <option value="" selected hidden>Provincia</option>
                </select>
                <label for="surname-edit">Ciudad</label>
                <select type="text" name="city" class="select-species-pet">
                    <option value="" selected hidden>Ciudad</option>
                </select>
                <label for="biography-edit">Biografia</label>
                <textarea type="text" cols="10" rows="10"  id="biography-edit" name="biography" class="biography-edit"><%- user.biography ? user.biography : "" %></textarea>
                <input type="submit" value="Guardar" class="save-profile">
            </div>
        </form>
    </div>
    <!-- FOOTER -->  
    <%- include('../partials/footer') %>
    
    <!-- JavaScript -->
    <script src="/js/users.js"></script>
</body>
</html>