<!DOCTYPE html>
<html lang="es">

<!-- HEAD -->
<%- include('../partials/head') %>

    <body>

        <!-- HEADER -->
        <%- include('../partials/header') %>
            <main class="userProfile">
                <div class="avatar">
                    <img src="/images/userImageProfile/<%= user.image %>" alt="">
                </div>
                <div class="userProfile-container">
                    <div class="userProfile_box">
                        <h3 class="userProfile_title">Datos personales</h3>
                        <p class="userProfile_item">Nombre: <%= user.name ? user.name : " " %>
                        </p>
                        <p class="userProfile_item">Apellido: <%= user.lastName ? user.lastName : " " %>
                        </p>
                        <p class="userProfile_item">Teléfono: <%= user.telephone ? `+${user.telephone}` : " " %>
                        </p>
                        <p class="userProfile_item">Email: <%= user.email ? user.email : " " %>
                        </p>
                        <p class="userProfile_item">Nombre de Mascota: <%= user.namePet ? user.namePet : " " %>
                        </p>
                        <p class="userProfile_item">Biografia: <%= user.biography ? user.biography : " " %>
                        </p>
                    </div>
                    <a href="/users/profile/editProfile/<%= user.id %>" class="btn btn-ad-primary">Editar Perfil</a>
                    <% if (address.length > 0) { %>
                        <div class="userProfile_box">
                        <h3 class="userProfile_title">Mis direcciones</h3>
                        <% address.forEach(address => { %>
                            <form action="/users/profile/removeAddress/<%- address.id %>?_method=DELETE" method="POST">
                                <p class="userProfile_item">Dirección: <%= address.street ? address.street : " " %>
                                </p>
                                <p class="userProfile_item">Calle: <%= address.number ? address.number : " " %>
                                </p>
                                <p class="userProfile_item">Piso o Departamento: <%= address.floorOrApartament ? address.floorOrApartament : " " %>
                                </p>
                                <p class="userProfile_item">Provincia: <%= address.province ? address.province : " " %>
                                </p>
                                <p class="userProfile_item">Localidad: <%= address.city ? address.city : " " %>
                                </p> 
                                <p class="userProfile_item">Codigo Postal: <%= address.postalCode ? address.postalCode : " " %>
                                </p>
                                <div class="button-editAddress">
                                    <a href="/users/profile/editAddress/<%= address.id %> ">Editar Dirección</a>
                                </div>
                                <div class="div-button-delete-address">
                                    <input type="submit" value="Eliminar Dirección" class="button-delete-address" name="" id="">
                                </div>
                            </form>
                            <hr>
                        <% }) %>
                        </div>
                        <a href="/users/profile/addAddress/<%= user.id %>" class="btn btn-ad-primary">Agregar nueva dirección</a>
                    <% } else { %>
                        <a href="/users/profile/addAddress/<%= user.id %>" class="btn btn-ad-primary">Agregar nueva dirección</a>
                    <% } %>
                </div>
            </main>

            <!-- FOOTER -->
            <%- include('../partials/footer') %>

                <!-- JavaScript -->
                <script src="/js/users.js"></script>

    </body>


</html>