<!DOCTYPE html>
<html lang="es">

<!-- HEAD -->
<%- include('../partials/head') %> 

<body >
    <form id="form-register" action="/users/register" method="POST" enctype="multipart/form-data" class="body-login-register">
        <div class="form-container-register">
            <img src="/images/floatingImage.png" alt="" class="floating-image-form">
            <img src="/images/logotipo.png" alt="" class="logo-form">
            <a href="javascript:history.back()" class="close"><img src="/svg/check-and-cross-marks.svg" alt=""></a>
            <div class="div-imputs-register">
            <input id="input-name-register" type="name" placeholder="Nombre" name="name" value="<%= locals.old && old.name %>">
            <% if (locals.errors && errors.name) { %>
                <h6 class="error-message"><%= errors.name.msg %> </h6>
            <% } %>
            <h6 id="error-name-register" class="error-message"></h6>
            </div>
            <div class="div-imputs-register">
            <input id="input-lastName-register" type="text" placeholder="Apellido" name="lastName" value="<%= locals.old && old.lastName %>">
            <% if (locals.errors && errors.lastName) { %>
                <h6 class="error-message"><%= errors.lastName.msg %> </h6>
            <% } %>
            <h6 id="error-lastName-register" class="error-message"></h6>
            </div>
            <div class="div-imputs-register">
            <input id="input-namePet-register" type="text" placeholder="Nombre de tu mascota" name="namePet" value="<%= locals.old && old.namePet %>">
            </div>
            <div class="div-imputs-register">
            <input id="input-email-register" type="email" placeholder="Correo electronico" name="email" value="<%= locals.old && old.email %>">
            <% if (locals.errors && errors.email) { %>
                <h6 class="error-message"><%= errors.email.msg %> </h6>
            <% } %>
            <h6 id="error-email-register" class="error-message"></h6>
            </div>
            <div class="div-imputs-register">
            <input  id="input-password-register"  type="password" placeholder="Contraseña" name="password">
            <% if (locals.errors && errors.password) { %>
                <h6 class="error-message"><%= errors.password.msg %> </h6>
            <% } %>
            <h6 id="error-password-register" class="error-message"></h6>
            </div>
            <div class="div-imputs-register">
            <input id="input-passC-register" type="password" placeholder="Confirmar Contraseña" name="passC">
            <% if (locals.errors && errors.passC) { %>
                <h6 class="error-message"><%= errors.passC.msg %> </h6>
            <% } %>
            <h6 id="error-passC-register" class="error-message"></h6>
            </div>
            <h6 class="have-account">¿Ya tienes una cuenta?<a href="/users/login">Inicie sesión.</a></h6>
            <div class="div-imputs-register">
            <h6 class="terms-and-conditions"><input id="input-terms-register"  type="checkbox" class="terms-imput" name="terms">Acepto los <a href="#">Terminos y Condiciones.</a></h6>
            <% if (locals.errors && errors.terms) { %>
                <h6 class="error-message"><%= errors.terms.msg %> </h6>
            <% } %>
            <h6 id="error-terms-register" class="error-message"></h6>
            </div>
            <input type="submit" value="Crear cuenta"  class="button-form-create-account">
            <h6 id="error-form-register" class="error-message"></h6>
        </div>
    </form>
    <script src="/js/registerValidator.js"></script>
</body>
</html>