<!DOCTYPE html>
<html lang="es">

 <!-- HEAD -->
 <%- include('../partials/head') %> 

<body>
   
    <!-- HEADER -->
<%- include('../partials/header') %> 

    <main class="productocompleto">
        <a href="javascript:history.back()"> Volver Atrás</a>
        <section class="productocar">
            <section class="pruebacar">
                <img class="dogcar" src="/images/<%- product.image%>" alt="">
                <section">
                    <div class="descripcar">
                        <h1><%- product.name%></h3>
                    </div>
                    <div class="codprocar">
                        <p><%- product.subcategory %>| codigo del producto: #<%- product.id %></p>
                        <div>
                            <p class="precar"> $<%- product.price%> </p>
                            <p><img class="cardca" src="/svg/cardca.svg" alt="">ver medio de pago</p>
                        </div>
                        <div>
                            <p class="cla1">Seleccion peso Alimento: </p>
                            <button class="bot1">10</button>
                            <button class="bot1">15</button>
                        </div>
                        <p class="cla2">Seleccione cantidad</p>
                        <div>
                            <section class="quantity">
                                <div class="counter">
                                    <span class="down" onClick='decreaseCount(event, this)'>-</span>
                                    <input type="text" value="1">
                                    <span class="up" onClick='increaseCount(event, this)'>+</span>
                                </div>
                            </section>
                        </div>
                        <button class="bot1"> comprar </button>
                    </div>
            </section>
        </section>
        <section class="domo1">
            <article class="descricar">
                <%- product.description %> 
            </article>
        </section>
        </section>
        
    </main>
  
    <!-- FOOTER -->  
<%- include('../partials/footer') %> 

</body>

</html>