<script src="/js/headerMobile.js" defer></script>
<script src="/js/headerDescktop.js" defer></script>
<script src="/js/validationSearch.js" defer></script>
<header class="header">
    <button class="menu" >
        <i class="fas fa-bars" id="menu-mobile"></i>
    </button>
    <div class="menu-lateral" id="menu-lateral" style="left: -100%;">
        <div class="div-close-lateral" id='div-close-lateral' style="left: -100%;">
            <section class="section-menu-lateral">
                <button class="button-close-lateral">
                    <i class="fas fa-times" id="close-menu-lateral"></i>
                </button>
                <% if (typeof session.user != "undefined") { %>
                    <a href="/users/profile" class="anchor-user-lateral">
                    <div class="div-user-lateral">
                        <img class="img-user-lateral" src="/images/userImageProfile/<%- locals.user.image %> " alt="">
                        <h3 class="h3-user-lateral">Bienvenido <%- locals.user.name %></h3>
                    </div>
                    </a>
                    <hr class="hr-lateral">
                <% } %>
                <div class="div-home-and-categories-lateral" <%- typeof session.user  != "undefined" ? "" : "style='margin-top: 20px;'"%> >
                    <div class="home-lateral">
                        <i class="fas fa-home"></i>
                        <a href="/">Inicio</a>
                    </div>
                    <div class="categories-lateral">
                        <h1>Categorias</h1>
                        <% locals.categories.forEach(category => { %>
                            <div class="category-lateral">
                                <div class="container-lateral-name">
                                    <i style="margin-bottom: 6px;" class="fas fa-<%-category.name == 'Perros' ? 'dog' : "" || category.name == 'Gatos' ? 'cat' : "" || category.name == 'Aves' ? 'crow' : "" || category.name == 'Reptiles' ? 'paw' : ""%>"></i>
                                    <a><%= category.name %></a>
                                    <i style="margin-left: 2px; transition: all 0.6s; margin-top: 2px;" class="fas fa-chevron-down"></i>
                                    <div class="press-lateral" name="<%= category.name %>"></div>
                                </div>
                                <div class="subcategories-lateral" id="<%= category.name %>" >
                                    <a href="/products/category/<%= category.id %>" style="color: black;">Ir a la categoria</a>
                                    <h1 style="font-size: 17px; margin-top: 3px;">subcategorias</h1>
                                    <% category.subcategories.forEach(subcategory => { %>
                                        <a style="margin-top: 3px;"  class="class-black-a" href="/products/subcategory/<%= subcategory.id %>"><%= subcategory.name %> </a>
                                    <% }) %>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                </div>
                <hr class="hr-lateral">
                <div class="div-login-lateral" <%- typeof session.user  != "undefined" ? "" : "style='justify-content: center;'"%>>
                    <% if (typeof session.user != "undefined") { %>
                        <div class="div2-login-lateral">
                            <a href="/users/profile">Mi Perfil</a>
                            <a href="/products/cart">Mi carrito</a>
                            <a href="/products/cart">Mis compras</a>
                            <a href="/users/logout">Cerrar sesión</a>
                            <% if (session.user.rol === 1) { %>
                                <a href="/admin/">Panel de administrador</a>
                            <% } %>
                        </div>
                    <% } else {%>
                        <div class="div3-login-lateral">
                            <a href="/users/login">Iniciar Sesión</i></a>
                            <a href="/users/register">Registrarse</i></a>
                        </div>
                    <% } %>
                </div>
                <hr class="hr-lateral">
                <div class="div-contact">
                    <a href="/contact">Contactanos</a>
                    <a href="/otro/community">Comunidad</a>
                    <a href="/otro/aboutus">¿Quienes somos?</a>
                    <a href="/otro/termsandConditions">Términos y condiciones</a>
                </div>
            </section>
        </div>
    </div>
    <div class="logo">
        <a href="/"><img src="/images/logotipo.png" alt=""></a>
    </div>
    <button type="button"  class="btn-search-mobile">
        <i id="i-header" class='fas fa-search'></i>
    </button>
    <div id="search-header" style="right: -208px;" class="search-header">
        <form action="/products/search" id="form-search-mobile" method="GET">
            <input type="search" name="search" id="search-bar" value="" class="search-bar" placeholder="Buscar">
            <button class="search-logo" type="submit"><i class="fas fa-search"></i></button>
        </form>
    </div>
    <div class="search-header-desktop">
        <form action="/products/search" id="form-search-desktop" method="GET">
            <input id="input-search-header" name="search" type="search" placeholder="Buscar..." name="" id="">
            <button id="button-search-header" type="submit" id="button-search-desktop" style="right: 0px; top: 0px;"><i  class="fas fa-search"></i></button>
        </form>
    </div>

    <div class="categories-header">
        <div class="div-home-header">
            <a href="/" class="categories-archor-header ">Inicio</a>
        </div>
        <% locals.categories.forEach(category =>{ %>
            <div id="<%= category.name %>" class="div-archor-header">
                <a class="categories-archor-headera"><%= category.name%></a>
                <a name="<%= category.name %>" class="press-category"></a>
                <i class="fas fa-chevron-down"></i>
                <div class="subcategories-header" id="<%= category.name %>">
                    <div class="container-category-archor">
                        <a href="/products/category/<%= category.id %>">Ir a la categoria completa</a>
                    </div>
                    
                    <div class="container-subcategories-header">
                        <a class="h2-sub">Subcategorias</a>
                        <% category.subcategories.forEach(subcategory => { %>
                            <a class="class-black-a" href="/products/subcategory/<%= subcategory.id %>"><%= subcategory.name %> </a>
                        <% }) %>
                    </div>
                    
                </div>
            </div>
        <% }) %>
        <div class="div-home-header">
            <a href="/contact" class="categories-archor-header ">Contactanos</a>
        </div>
    </div>
    <div  class="user-header" >
        <% if (typeof session.user != "undefined") { %>
            <div class="div-login-header">
                <div id="press-login-header"></div>
                <h2><%- locals.user.name %></h2>
                <a >
                    <img class="img-user-header" src="/images/userImageProfile/<%- locals.user.image %>" alt="">
                </a>
                <div class="section-botton" id="section-botton-opcions" style="top: -100%;">
                    <% if (session.user.rol == 1) { %>
                        <a href="/admin">Panel Admin</a>
                    <% } %>
                    <a href="/users/profile">Mi Perfil</a>
                    <a href="/users/cart">Mi carrito</a>
                    <a href="/users/cart">Mis compras</a>
                    <a href="/users/logout">Cerrar sesión</a>
                </div>
            </div>
        <% } else {%>
            <div class="section-paw-header-1"></div>
            <div class="section-paw-header-2"></div>
            <div class="section-paw-header-3"></div>
            <div class="section-paw-header-4"></div>
            <div id="user-icon" class="user-icon-header">
                <i id="div-user-header" class="far fa-user"></i>
                <div id="botton-user-icon"></div>
            </div>
            <div id="login-register-header" class="login-register-header" style="right: -200px; transform: rotate(180deg);">
                <section>
                    <a href="/users/login" id="button-login" >Iniciar sesión</a>
                </section>
                <hr>
                <section>
                    <a href="users/register" id="button-register" >Registrarse</a>
                </section>
            </div>
        <% } %>
    </div>
</header>
<div class="block-header"></div>
