<!DOCTYPE html>
<html lang="es">
    
    <!-- HEAD -->
    <%- include('./partials/head') %> 

<body class="home">

<!-- HEADER -->
<%- include('./partials/header') %> 
<!-- FIN HEADER -->
    <main>

        <!-- CARRUSEL DE BANNERS -->
        <%- include('./partials/banners') %>
        <!-- FIN CARRUSEL -->

        <section class="body">
            <!-- CATEGORIAS -->
            <h3>Categorías</h3>
            <section style="width: 100%;">
                    <div class="block 1">
                        <div class="slider-box">
                            <div class="slider">
                            <% locals.categories.forEach(category => { %>
                                <div class="circulo slide">
                                    <a href="/products/category/<%= category.id %>">
                                        <img class="<%= category.name %>" src="/images/categories/<%= category.image %>" alt="">
                                    </a>
                                </div>
                            <% }) %>
                            </div>
                        </div>
                    </div>
            </section>
            <!-- FIN CATEGORIAS -->
            <!-- COMUNIDAD -->
            <div class="comunidad"> 
                <div class="comunidad-alimentacion">
                    <a href="/otro/feeding">
                        <h2>ALIMENTACIÓN</h2><img src="/images/alimentacion.png" alt="">
                    </a>
                </div>
                <div class="comunidad-comunidad">
                    <a href="/otro/community">
                        <h2>COMUNIDAD</h2><img src="/images/comunidad.png" alt="">
                    </a>
                </div>
                <div class="comunidad-quienes-somos">
                    <a href="/otro/aboutus">
                        <h2>¿QUIENES SOMOS?</h2><img src="/images/quienes somos.png" alt="">
                    </a>
                </div>
            </div>
            <!-- PRODUCTOS -->
            <h3>Productos destacados</h3>
        </section>
        <%- include('./partials/productsSlider') %>  
    </main>
    <a href="https://api.whatsapp.com/send?phone=+5493873693495" class="btn-flotante">
        <i class="fab fa-whatsapp"></i>
    </a>
<!-- FOOTER -->
<%- include('./partials/footer') %> 
<script src="/js/cards.js"></script>
<script src="/js/banners.js"></script>
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
</body>
</html>